<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FDA000" />
    <title>Restomap</title>
    <link rel="manifest" href="./app.webmanifest" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
    <div class="load">
      <div class="loader"></div>
    </div>
    <header>
      <nav id="nav">
        <div class="brand">
          <app-bar class="logo"> </app-bar>
          <drawer-menu class="menu"></drawer-menu>
        </div>
        <ul class="nav-list">
          <li class="nav-item"><a href="#/home">Home</a></li>
          <li class="nav-item"><a href="#/Favorite">Favorite</a></li>
          <li class="nav-item">
            <a href="https://shoya-m1.github.io/Portfolio/" class="nav-link"
              >About As</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main id="mainContent"></main>
    <footer>
      <p tabindex="0">copyright &copy; 2024 - RESTOMAP</p>
    </footer>
  </body>
</html>
