<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FDA000" />
    <title>Restomap</title>
    <link rel="manifest" href="./app.webmanifest" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    /> -->

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
    <header>
      <nav id="nav">
        <div class="brand">
          <app-bar class="logo"> </app-bar>
          <drawer-menu class="menu"></drawer-menu>
        </div>
        <ul class="nav-list">
          <li class="nav-item"><a href="#/home">Home</a></li>
          <li class="nav-item"><a href="#/Favorite">Favorite</a></li>
          <li class="nav-item">
            <a href="https://shoya-m1.github.io/Portfolio/" class="nav-link"
              >About As</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main id="mainContent"></main>
    <footer>
      <p tabindex="0">copyright &copy; 2024 - RESTOMAP</p>
    </footer>
  </body>
</html>
